:root {
    color-scheme: light dark;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
    min-width: 100%;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
    @apply antialiased;
}

@keyframes google-play {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes app-store {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(-0px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes api-interface {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes ai-float {
    0% {
        transform: rotate(-5deg) translateY(0px);
    }

    25% {
        transform: rotate(5deg) translateY(-10px);
    }

    50% {
        transform: rotate(-5deg) translateY(-20px);
    }

    75% {
        transform: rotate(5deg) translateY(-10px);
    }

    100% {
        transform: rotate(-5deg) translateY(0px);
    }
}

.ai-float {
    animation: ai-float 4s ease-in-out infinite;
}

.google-play {
    animation: google-play 3s ease-in-out infinite;
}

.app-store {
    animation: app-store 3s ease-in-out infinite;
}

.api-interface {
    animation: api-interface 3s ease-in-out infinite;
}

@keyframes carousel-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes modalShow {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-modalShow {
    animation: modalShow 0.3s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation-delay-200 {
    animation-delay: 200ms;
}

.animation-delay-500 {
    animation-delay: 500ms;
}