:root {
    color-scheme: light dark;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
    min-width: '100%';
    font-family: 'Work Sans', sans-serif;
    @apply antialiased;
}